@page "/payment/failed"

<DashboardContainer ContainerTitle="Payment Failed">
    <AuthorizeView>
        <Authorized>



        </Authorized>
        <NotAuthorized>
            <a href="/Account/Login">Log in</a>
        </NotAuthorized>
    </AuthorizeView>
</DashboardContainer>

@code {


}